@import '~@angular/material/theming';
@import 'custom-components-theme';
@import 'typography-config';

@include mat-core($typography-config);

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A400, A100, A700);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include custom-components-theme($theme);
