$toolbar-big: 64px;
$toolbar-small: 56px;

.toolbar {
  position: fixed;
  z-index: 2;

  .logo {
    font-size: 26px;
    color: white;

    img {
      height: 38px;
    }

    span {
      transform: rotate(180deg);
      margin-right: -4px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.sidenav-container {
  min-height: 100vh;

  .sidenav-start {
    width: 350px;
    padding-top: $toolbar-big;

    @media (max-width: 599px) {
      padding-top: $toolbar-small;
    }
  }

  .sidenav-content {
    padding-top: $toolbar-big;

    @media (max-width: 599px) {
      padding-top: $toolbar-small;
    }
  }
}
