$toolbar-big: 64px;
$toolbar-small: 56px;

.toolbar {
  position: fixed;
  z-index: 2;

  a {
    img {
      height: 26px;
    }
  }
}

.sidenav-container {
  min-height: 100vh;

  .sidenav-start {
    width: 350px;
    padding-top: $toolbar-big;

    @media (max-width: 599px) {
      padding-top: $toolbar-small;
    }
  }

  .sidenav-content {
    padding-top: $toolbar-big;

    @media (max-width: 599px) {
      padding-top: $toolbar-small;
    }
  }
}
