<mat-toolbar color="primary" class="mat-elevation-z2 toolbar">
  <button
    type="button"
    mat-icon-button
    matTooltip="{{ 'BaseLayoutComponent.ToggleSidenav' | translate }}"
    (click)="sidenavStart.toggle()"
    *ngIf="(isBigScreen$ | async) === false"
  >
    <mat-icon aria-label="Toggle sidenav icon">menu</mat-icon>
  </button>

  <a
    class="d-flex justify-content-center align-items-center logo"
    [routerLink]="'/' | addLangToLink | async"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true, update: '' | addLangToLink | async }"
  >
    <span>W</span>W<img src="assets/angular-white-transparent.svg" alt="Most Wanted Angular" />
  </a>

  <app-top-menu type="line" class="d-none d-md-flex"></app-top-menu>

  <span class="flex-grow-1"></span>

  <app-language-selector-container></app-language-selector-container>
  <button
    type="button"
    mat-icon-button
    matTooltip="{{ 'BaseLayoutComponent.ChangeTheme' | translate }}"
    (click)="changeThemeEvent.emit()"
  >
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <a mat-icon-button href="https://github.com/misticwonder/mw-angular">
    <img
      src="assets/github-circle-white-transparent.svg"
      alt="{{ 'BaseLayoutComponent.GitHubRepository' | translate }}"
    />
  </a>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    position="start"
    #sidenavStart
    class="sidenav-start"
    [attr.role]="(isBigScreen$ | async) ? 'navigation' : 'dialog'"
    [mode]="(isBigScreen$ | async) ? 'side' : 'over'"
    [opened]="(isBigScreen$ | async) === true"
  >
    <mat-nav-list>
      <app-top-menu type="drop" class="d-flex d-md-none"></app-top-menu>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
