<ng-container *ngIf="currentLangId">
  <ng-container [ngSwitch]="currentLangId">
    <ng-container *ngSwitchCase="'en'">
      <div class="row">
        <div class="col">
          <p>Some text with <a [routerLink]="'/en/some-link'">some link</a>.</p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'ru'">
      <div class="row">
        <div class="col">
          <p>Какой то текст с <a [routerLink]="'/ru/some-link'">cсылкой</a>.</p>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
