<ng-container *ngIf="currentLangId">
  <ng-container [ngSwitch]="currentLangId">
    <ng-container *ngSwitchCase="'en'">
      <div class="row">
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum facere fugiat molestias nisi non pariatur
            quaerat rerum sit suscipit ullam <a [routerLink]="'/en/some-link'">some link</a>.
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'ru'">
      <div class="row">
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores deleniti deserunt
            exercitationem maxime minus neque nihil, quasi ratione veritatis
            <a [routerLink]="'/ru/some-link'">cсылкой</a>.
          </p>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
